@model dvhBaiKiemTraGK.Models.dvhKhoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dvhKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dvhTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dvhTenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dvhTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dvhTrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dvhMaKhoa }) |
    @Html.ActionLink("Back to List", "dvhIndex")
</p>
